<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="支付宝五福互换信息,爱国福,富强福,和谐福,友善福,敬业福">
    <meta name="sharecontent" data-msg-img="http://www.insky.net.cn/uploads/allimg/160129/1-1601291531424Y.png" data-msg-title="五福吉祥" data-msg-content="支付宝五福互换信息,爱国福,富强福,和谐福,友善福,敬业福"  data-line-img="http://www.insky.net.cn/uploads/allimg/160129/1-1601291531424Y.png" data-line-title="五福吉祥" />
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css' />
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?967f588edf5be2cfffeff9ab398350e5";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
